<nav class="navbar">
    <li id="linkl"><a href="/" id="link">
        Main
    </a></li>
    <li id="linkl"><a href="/docs" id="link">
        Documentations
    </a></li>
    <li id="linkl"><a href="/rules" id="link">
        Rules
    </a></li>
    <li id="linkl"><a href="/qna" id="link">
        QNA
    </a></li>
    
    <div class="dropdown">
      <% if(!user) { %>
        <button class="dropbtn">
          Login
        </button>
        <% } else {%>
          <button class="dropbtn">
            <%= user.username %> <img id="avatar" src=<%= user.avatarURL %> 
            width="20" 
            height="20"></img>
          </button>
          <% } %>
        <div class="dropdown-content">
          <% if(!user) { %>
            <a href="/auth/login">
              Login
            </a>
            <% } else { %>
              
              Username: <%= user.username %>
              Discriminator: <%= user.discriminator %>

              <a href="/auth/logout">
                Logout
              </a>
              <% } %>
        </div>
      </div>

</nav>
<style scoped>
  #avatar {
    border-radius: 10px;
  }
.dropbtn {
  background-color: #969696;
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  transition: background-color 2s;
  font-family: Sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #969696;}
    #linkl {
        display: inline;
        padding: 2px;
    }
    #link {
        background-color: #969696;
        color: rgb(0, 0, 0);
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 20px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        transition: background-color 2s;
        font-family: Sans-serif;
    }
    #link:hover {
        background-color: #dacfcf;
        border-radius: 10;
    }
</style>