<ul>
    <li id="linkl"><a href="/" id="link">
        Main
    </a></li>
    <li id="linkl"><a href="/docs" id="link">
        Documentations
    </a></li>
    <li id="linkl"><a href="/rules" id="link">
        Rules
    </a></li>
    <li id="linkl"><a href="/qna" id="link">
        QNA
    </a></li>
</ul>
<style scoped>
    #linkl {
        display: inline;
        padding: 2px;
    }
    #link {
        background-color: #969696;
        color: rgb(0, 0, 0);
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 20px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        transition: background-color 2s;
        font-family: Sans-serif;
    }
    #link:hover {
        background-color: #dacfcf;
        border-radius: 10;
    }
</style>