<%- include('header'); -%>
<html>
    <header>
        <title>Scratch for discord API</title>
    </header>
    <body>
        Hello this is s4d API!
        <br>
        This API now is used for creators to add/delete/get data for their channels!
        <br>
        Check out documentations to see how to use the API(GET requests are public only).
    </body>
</html>