<%- include('header'); -%>
<ul>
    <li><a href="/docs/get" >
        GET
    </a></li>
    <li><a href="/docs/post" >
        POST
    </a></li>
    <li><a href="/docs/delete" >
        DELETE
    </a></li>
</ul>