<%- include('partials/header'); -%>
<html>
    <header>
        <title>Scratch for discord API</title>
    </header>
    <body>
        <div class="limitations">
        <p id="lap">Is there POST API?</p>
        <p id="lapt">
            Yes but it is developer only, this message will disappear when POST API is public.
        </p>
        <p id="lap">How to add a channel?</p>
        <p id="lapt">
            Invite this <a href="https://discord.com/api/oauth2/authorize?client_id=930543540432437298&permissions=274877910016&scope=bot%20applications.commands">bot</a> to a server and do /add channel
        </p>
        <p id="lap">How to add a video?</p>
        <p id="lapt">
            Invite this <a href="https://discord.com/api/oauth2/authorize?client_id=930543540432437298&permissions=274877910016&scope=bot%20applications.commands">bot</a> to a server and do /add video
        </p>
        <!--<p id="lap">How to use the apikey?</p>
        <p id="lapt">
            when making headers add apikey as key and then apikey as value
        </p>-->
        </div>
    </body>
</html>
<script>


</script>
<style>
#lap {
  border-style: solid;
  border-width: 2px;
  max-width: 100px;
  padding: 5px;
}
#loli {
    border-width: 2px; 
    border-style: solid; 
    max-width: 205px; 
    padding: 1px;
}
#code {
    border-style: solid;
    border-width: 2px;
}
</style>