<html>
    <header>
        <title>Scratch for discord API</title>
    </header>
    <body>
        <a href="/">Main</a>
        <div class="limitations">
        <p id="lap">Is there POST API?</p>
        <p id="lapt">
            Yes but it is developer only, it is coming when discord 2auth is done.
        </p>
        <!--All<p id="lap">How to get apikey?</p>
        <p id="lapt">
            Invite this <a href="https://discord.com">bot</a> to a server and do /getapikey
        </p>
        <p id="lap">How to use the apikey?</p>
        <p id="lapt">
            when making headers add apikey as key and then apikey as value
        </p>-->
        </div>
    </body>
</html>
<script>


</script>
<style>
#lap {
  border-style: solid;
  border-width: 2px;
  max-width: 100px;
  padding: 5px;
}
#loli {
    border-width: 2px; 
    border-style: solid; 
    max-width: 205px; 
    padding: 1px;
}
#code {
    border-style: solid;
    border-width: 2px;
}
</style>