<%- include('header'); -%>
<html>
    <header>
        <title>Scratch for discord API</title>
    </header>
    <body>
        <div class="limitations" id="lap">
            <p>
                <ul>
                    <li>
                        1.You are not allowed to have innapropriate channel names or video titles. Punishment: Warn -> PermaBan
                    </li>
                    <li>
                        2. Having innapropriate video thumbnail link(s). Punishment: PermaBan
                    </li>
                </ul>
            </p>
        </div>
    </body>
</html>
<script>


</script>
<style>
#lap {
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}
#loli {
    border-width: 2px; 
    border-style: solid; 
    max-width: 205px; 
    padding: 1px;
}
#code {
    border-style: solid;
    border-width: 2px;
}
</style>