<%- include('partials/header') %>
<html>
<body>
    <% if(user) {%>
        <div class="userinfo">
            <img id="avatarP" width="100" height="100" src=<%= user.avatarURL %>></img>
            <p id="username">Hello <%= user.username %>#<%= user.discriminator %> <br>
            Your api key:
            </p>


        </div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            #avatarP {
                border-radius: 100px;
                border-color: black;
                border-style: solid;
                display: block;
                margin-left: auto;
                margin-right: auto;   
                margin-top: 10px;
            }
            #username {
                text-align: center;
            }
            .userinfo {
                border-style: solid;
                margin-top: 20px;
                font-family: 'Roboto', sans-serif;
            }
        </style>
    <% } else { %>
        <a href="/auth/login">Login</a> to see your info!
    <% } %>
</body>
</html>